!!!
%html
  %head
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %div.container
      %div.logo
        %h1 Today I Learned
      = yield
