%form{action: '/login', method: 'POST'}
  %label{for: 'user'} User
  %input{type: 'text', name: 'user'}
  %label{for: 'pwd'} Password
  %input{type: 'text', name: 'pwd'}
  %input{type: 'submit', value: 'Login'}
